<form action="https://ir-user.esewa.com.np/epay/main" method="POST">
  <input value="<%= @params['tAmt'] %>" name="tAmt" type="hidden">
  <input value="<%= @params['amt'] %>" name="amt" type="hidden">
  <input value="0" name="txAmt" type="hidden">
  <input value="0" name="psc" type="hidden">
  <input value="0" name="pdc" type="hidden">
  <input value="<%= @params['scd'] %>" name="scd" type="hidden">
  <input value="<%= @params['pid'] %>" name="pid" type=" hidden">
  <input value="<%= esewa_success_url %>" type="hidden" name="su">
  <input value="http://www.grasruts.com/?q=failed_transaction" type="hidden" name="fu">
  <input value="Submit" type="submit">
</form>