<% content_for :title, 'Support' %>
<%= render 'shared/header_big' %>
<div class="page-header negative u-marginbottom-40">
  <div class="w-container">
    <h1 class="fontsize-largest u-text-center">
      Make a dream come true
    </h1>
  </div>
</div>
<div class="section-one-column">
  <div class="w-container">
    <div class="headline">
      <font><font>Pay with</font></font>
    </div>
    <div class="items payment-methods">
      <% if @contribution_value > 499 %>
      <div class="payment-method">
        <div class="payment-method-title field choice">
          <label class="label" for="nabil">
            <span>Cash Pickup</span>
          </label>
        </div>
        <div class="payment-method-content">
          <div class="actions-toolbar">
            <div class="primary w-col-3">
              <a href="<%= payment_redirect_project_contribution_path params[:project_id], params[:id], 'card'%>" class="btn btn-medium">Cash Pickup</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% end %>
      <!-- /ko --><!-- ko template: getTemplate() -->
      <div class="payment-method">
        <div class="payment-method-title field choice">
          <label class="label" for="esewa">
            <span>Esewa</span>
          </label>
          <br>
          <img src="https://www.olizstore.com/pub/media/pg/esewa.png" style="margin-left:8px;margin-top:3px">
        </div>

        <div class="payment-method-content">
          <div class="actions-toolbar">
            <div class="primary w-col-3">
              <a href="<%= payment_redirect_project_contribution_path params[:project_id], params[:id], 'esewa'%>" class="btn btn-medium">Continue To Esewa</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- /ko --><!-- ko template: getTemplate() -->
      <div class="payment-method">
        <div class="payment-method-title field choice">
          <label class="label" for="sctnpay">
            <span>SCT nPay</span>
          </label>
          <br>
          <img src="https://www.olizstore.com/pub/media/pg/nPay.png" style="margin-left:8px;margin-top:3px">
        </div>

        <div class="payment-method-content">
          <div class="actions-toolbar">
            <div class="primary w-col-3 ">
              <a href="<%= payment_redirect_project_contribution_path params[:project_id], params[:id], 'sct'%>" class="btn btn-medium">Continue To Sctnpay</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="payment-method">
        <div class="payment-method-title field choice">
          <label class="label" for="sctnpay">
            <span>Bank Deposit</span>
          </label>
        </div>
        <div class="payment-method-content">
          <div class="actions-toolbar">
            <div class="primary w-col-3 ">
              <a href="<%= payment_redirect_project_contribution_path params[:project_id], params[:id], 'bank'%>" class="btn btn-medium">Bank Deposit</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /ko -->
  </div>
</div>





<%= render 'shared/footer_big' %>