<!--<form action="https://gateway.sandbox.npay.com.np/pay.aspx" method="post" name="sendForm">-->
<form action="https://gateway.npay.com.np/pay.aspx" method="post" name="sendForm">
<input type="text" value="<%= @process_id%>" name="ProcessID" hidden/> <br />
<input type="text" value="<%= @params['MerchantId']%>" name="MerchantID" hidden/> <br />
<input type="text" value="<%= @params['MerchantTxnId']%>" name="MerchantTxnID" hidden/> <br />
<input type="text" value="<%= @params['AMOUNT'] %>" name="PayAmount" hidden/> <br />
<input type="text" value="<%= @params['MerchantUserName'] %>" name="MerchantUsername" hidden/> <br />
<input type="text" value="<%= @params['purchaseDescription'] %>" name="Description" hidden/> <br />
<input type="submit" value="Pay with SCT" name="posting" id="sct-hidden-form" hidden/>
</form>

<script>
var form_id = document.getElementById('sct-hidden-form');
form_id.click();
</script>